html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background: #2f4156;
}

body {
  display: flex;
  flex-direction: column;
}


.container {
  margin: auto;
  background: #c8d9e6;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
  width: 320px;
}

.container h1 {
  margin-bottom: 1rem;
  color: #2f4156;
}

.container form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.container button {
  padding: 0.6rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.container button[type="submit"] {
  background: #2f4156;
  color: #fff;
}

.container .secondary {
  background: #2f4156;
  color: #fff;
  margin: 1rem;
}

.bottom-buttons {
  margin: 1.5rem 0 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.bottom-buttons button {
  background: #2f4156;
  color: white;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
