button {
  padding: 12px;
  font-size: 16px;
}

#navbar {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c8d9e6;
  color: black;
  padding: 10px 20px;
  border-radius: 0 0 6px 6px;
}

#navbar button {
  margin-left: 10px;
  padding: 5px 10px;
  border: 1px solid white;
  background-color: #567c8d;
  color: black;
  cursor: pointer;
  border-radius: 4px;
  width: auto;
  flex: 0;
}

#navButtons{
  display: flex;
  gap: 10px;
}

#navbar button:hover {
  background-color: #c8d9e6;
}

#userStatus {
  font-weight: bold;
}
